[Unit]
Description=Apache Zookeeper Server (Kafka)
Documentation=http://zookeeper.apache.org
Requires=network.target remote-fs.target
After=network.target remote-fs.target

[Service]
Type=forking
User={{ zookeeper.user }}
Restart=on-failure
ExecStart={{ path_zoo }}/bin/zkServer.sh start {{ path_zoo }}/zoo.cfg
ExecStop={{ path_zoo }}/bin/zkServer.sh stop {{ path_zoo }}/zoo.cfg
ExecReload={{ path_zoo }}/bin/zkServer.sh restart {{ path_zoo }}/zoo.cfg
WorkingDirectory={{ path_zoo }}

[Install]
WantedBy=multi-user.target
